#room1 {
    background-image: url(/src/components/images/room-1.jpg);
   
  }
  #room2 {
    background-image: url(/src/components/images/room-2.jpg);
   
  }
  #room3 {
    background-image: url(/src/components/images/room-3.jpg);
   
  }
  #room4 {
    background-image: url(/src/components/images/room-4.jpg);
   
  }
  #room5 {
    background-image: url(/src/components/images/room-5.jpg);
   
  }
  #bg_res {
    background-image: url(/src/components/images/bg_res.jpg);
   
  }
  #room6 {
    background-image: url(/src/components/images/room-6.jpg);
  }
  #bg2 {
    background-image: url(/src/components/images/bg_2.jpg);
  }#bg3 {
    background-image: url(/src/components/images/vd.jpg);
  }
  #vd {
    background-image: url(/src/components/images/bg_3.jpg);
  }
  #bg1 {
    background-image: url(/src/components/images/bg_1.jpg);
  }
  #insta1 {
    background-image: url(/src/components/images/insta-1.jpg);
  }
  #insta2 {
    background-image: url(/src/components/images/insta-2.jpg);
  }
  #insta3 {
    background-image: url(/src/components/images/insta-3.jpg);
  }
  #insta4 {
    background-image: url(/src/components/images/insta-4.jpg);
  }
  #insta5 {
    background-image: url(/src/components/images/insta-5.jpg);
  }
  #res1 {
    background-image: url(/src/components/images/res_img.jpg);
  }
  #spa1 {
    background-image: url(/src/components/images/spa1.jpg);
  }
  #s1 {
    background-image: url(/src/components/images/bg_3.jpg);
  }
  #pool1 {
    background-image: url(/src/components/images/pool1.jpg);
  }
  #roof1 {
    background-image: url(/src/components/images/roof1.jpg);
  }
  #salle {
    background-image: url(/src/components/images/salle.jpg);
  }
  #contact {
    background-image: url(/src/components/images/contact2.jpg);
  }
  #contact1 {
    background-image: url(/src/components/images/contact.jpg);
  }
#compte{
  padding-left: 150px;
}
#contact{
  background-image: url(/src/components/images/contact.jpg);
}
#row{
  margin-left: 20px;
  position: absolute;
}

